/* reset */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container style */
.container  {
    height: 100vh;
    background-color: black;
}

/* view button style */
.speaker_view, .cross  {
    color: white;
    background-color: grey;
    display: flex;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    gap: 3px;
}

.view   {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

/* screen section style */
.screen {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user   {
    height:150px;
    width: 200px;
    background-image: url(https://picsum.photos/200/150);
    display: flex;
    align-items:flex-end;
    margin: 10px;
}

.name   {
    background-color: grey;
    color: white;
}

