/* reset */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container style */
.container  {
    height: 100vh;
    background-color: black;
}

/* view button style */
.speaker_view, .cross  {
    color: white;
    background-color: grey;
    display: flex;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    gap: 3px;
}

.view   {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

/* screen section style */